*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  align-items: center;
  height: 100vh;
  block-size: 100%;
  padding: 0 30px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border-style: none;
  border: none;
  width: 200px;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__label-text {
  padding-right: 15px;
}

.search-form__label {
  width: fit-content;
  display: flex;
}

input {
  width: 225px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
}

.input__border-style {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}

.input__border-style:active {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
}

.search-form__pseudo-checkbox {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox {
  background-color: rgb(255, 255, 255);
}

.search-form__pseudo-checkbox::before {
  content: "";
  inset: 0;
  box-sizing: border-box;
  border: 2px solid black;
  display: inline-block;
  width: 18px;
  height: 18px;
}

/* .search-form__pseudo-checkbox:active {
  position: relative;
  background-color: rgb(255, 255, 255);
}

.search-form__pseudo-checkbox:active::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid black;
} */

.search-form__label-text:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  width: 1140px;
  height: 538px;
  gap: 30px;
}

.result {
  margin-top: 80px;
  width: 711px;
}

.result__video-container {
  position: relative;
  inline-size: 100%px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  padding-top: 16px;
  display: flex;
  align-items: start;
  gap: 40px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__fieldset-title {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 5px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 25px;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__list {
  position: relative;
  height: 298px;
  overflow: hidden;
  overflow-y: scroll;
}

.content__list-item {
  padding-bottom: 34px;
}

.content__list-item:last-child {
  padding-bottom: 0;
}

.cards-list-item-template {
  width: 399px;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-title {
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-description {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0%;
  text-align: left;
}

.content__video-card-description-container {
  width: 205px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.search-form__submit-button {
  width: 220px;
  align-self: flex-end;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__submit-button:active {
  background: rgb(84, 80, 80);
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.button {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  background-color: inherit;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  height: 34px;
}

.more-button {
  width: 100%;
}

.more-button:hover {
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  text-decoration-color: white;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__list-item:active {
  background: rgb(84, 80, 80);
}
