*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  width: 1140px;
  gap: 30px;
}

.result {
  margin-top: 80px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* SEARCH-FORM */

.search-form {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border-style: none;
  border: none;
  width: 200px;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__label {
  width: fit-content;
  display: flex;
  padding-right: 15px;
}

input {
  width: 225px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  border: none;
}

.search-form__textfield {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}

.search-form__textfield:active {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
}

.search-form__textfield:focus-visible {
  outline: 1px solid black;
}

.search-form__pseudo-checkbox {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  outline: 1px solid white;
}

.search-form__pseudo-checkbox::before {
  content: "";
  inset: 0;
  box-sizing: border-box;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__fieldset-title {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding-bottom: 5px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
  /* flex-grow: 1;
  flex-shrink: 0; */
}

.button {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  background-color: inherit;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  min-height: 34px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: -5px;
}

.button:active {
  background: rgb(84, 80, 80);
}

.button:hover {
  text-decoration: underline;
}

/* .search-form__pseudo-checkbox:active {
  position: relative;
  background-color: rgb(255, 255, 255);
}

.search-form__pseudo-checkbox:active::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid black;
} */

/* CONTENT__DETAILS */

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 25px;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__list {
  position: relative;
  height: 298px;
  overflow: hidden;
  overflow: auto;
}

.content__list-item {
  padding-bottom: 34px;
}

.content__list-item:last-child {
  padding-bottom: 0;
}

.content__card-link {
  text-decoration: none;
  display: block;
}

.content__card-link_current {
  background: rgb(84, 80, 80);
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  text-decoration-color: white;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background: rgb(84, 80, 80);
}

.content__card-link:focus-visible {
  border: 1px solid white;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(255, 255, 255);
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-description {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}

.content__video-card-description-container {
  width: 205px;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  margin-bottom: 1px;
  width: 100%;
}
